body {
    margin: 0;
}

#top {
    width: calc(100% - 20px);
    height: 25px;
    
    background: skyblue;
    
    padding: 10px;
}

#middle {
    padding: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}